@page "/ForgotPassword"
@using EmprendeUCR.Domain.Core.CoreEntities
@using EmprendeUCR.Application.LoginContext 

@inject ILoginService loginService
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@inject NavigationManager NavManager
<!--HTML-->
<div class="flexDiv">
    <div class="mainClass">
        <h2>Recuperación de contraseña</h2>
        <p>Por favor ingrese el correo asociado a su cuenta para recuperar la contraseña.</p>
        <EditForm Model="@credentials" OnValidSubmit="@recuperarContra">

            <!--Email input-->
            <div class="marginElements">
                <label for="inputName" class="form-label secondary_title">Ingrese su correo:</label>
                <InputText type="text" @bind-Value="credentials.User_Email" class="form-control inputsClass" id="inputName" maxlength="200" required />
            </div>

            <!--Submit button-->
            <center>
                <button type="submit" class="btn btn-primary marginElements">Recuperar contraseña</button>

                <p style="color:#FF0000">
                    @errorMessage
                </p>
            </center>
        </EditForm>
    </div>
</div>

@code {
    /*Forgot password atributes*/
    Credentials credentials = new Credentials();
    EmailConfirmation newEmailConfirmation = new EmailConfirmation();
    private string errorMessage = "";

    /*
    Brief: Sends email with password recovering.
    Parameters:
    Returns:
    */
    private async void recuperarContra()
    {
        User user = await loginService.getUserByEmail(credentials.User_Email);
        if (user != null)
        {
            if (user.Email_Confirmation)
            {
                newEmailConfirmation = await loginService.GetEmailConfirmationEmail(credentials.User_Email);
                if (newEmailConfirmation != null)
                {
                    /*Creamos nuevo hash*/
                    string newHashEmail = loginService.hashEmail(newEmailConfirmation.Email);
                    newEmailConfirmation.Hash_Code = newHashEmail;
                    loginService.updateEmailConfirmations(newEmailConfirmation);
                    Mail mail = this.getMail(newEmailConfirmation);
                    await loginService.SendMail(mail);
                    NavManager.NavigateTo("/messagePage?type=5");
                }
                else
                {
                    NavManager.NavigateTo("/messagePage?type=6");
                }
            }
            else
            {
                errorMessage = "Su cuenta no ha sido verificada, por favor complete el registro.";
            }
        }
        else
        {
            errorMessage = "Correo no encontrado, por favor verifiquelo.";
        }
        StateHasChanged();
    }

    /*
    Brief: Get the email body.
    Parameters: Email_Confirmation email.
    Returns: Mail
    */
    public Mail getMail(EmailConfirmation email)
    {
        Mail mail = new Mail();
        mail.Subject = "Recuperar contraseña";
        mail.Body = loginService.GetNewPasswordMail(email.Hash_Code);
        mail.ToMailIds = new List<string>()
        {
           email.Email
        };
        return mail;
    }
}
