@page "/About"
<h1>About</h1>
<br />


<h3>3DKR</h3>
<div>
    <ul>
        <li>Andrés Chaves</li>
        <li>Daniel Mayorga</li>
        <li>Dario Matamoros</li>
        <li>Donaldo Salas</li>
        <li>Kevin Salas</li>
        <li>Rafael Porras</li>
    </ul>
</div>


<h3>Pandemic</h3>
<div>
    <ul>
        <li>Diego Barquero</li>
        <li>Isaac Herrera</li>
        <li>Johel Phillips</li>
        <li>Jostyn Delgado</li>
        <li>Luis Rojas</li>
        <li>Manfred Carvajal</li>
    </ul>
</div>


<h3>Phoenix</h3>
<div>
    <ul>
        <li>Alejandro Ramirez</li>
        <li>Andres Zamora</li>
        <li>Erick  Murillo</li>
        <li>Hellen Fuentes</li>
        <li>Jean Carlo Quesada</li>
        <li>Luis Ureña</li>
    </ul>
</div>


<h3>F & ½L</h3>
<div>
    <ul>
        <li>Eddy Ruiz</li>
        <li>Hansel Calderon</li>
        <li>Herson Mena</li>
        <li>Juan Valverde</li>
        <li>Sebastian Chavez</li>
        <li>Silvia Aguilar</li>
    </ul>
</div>

@code {

}