@inherits LayoutComponentBase
@inject NavigationManager _navManager

@if ((_navManager.Uri.Contains("/Categories")) || (_navManager.Uri.Contains("/admin")) || (_navManager.Uri.Contains("/viewreports")) ||
(_navManager.Uri.Contains("/admin_payment_methods")) || (_navManager.Uri.Contains("/ProfileAdministrator")) || (_navManager.Uri.Contains("/EditProfileAdministrator"))||
(_navManager.Uri.Contains("/viewSuggested")) || (_navManager.Uri.Contains("/activeAdministrator")) || (_navManager.Uri.Contains("/setPermissions")) || (_navManager.Uri.Contains("/listPermissions"))) {
<div class="sidebar1">
    <Header />
</div>
<div class="sidebar2">
    <MenuAdmin />
</div>
<div class="main2">
    <div class="content2 px-4">
        @Body
    </div>
</div>
}
else
{
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="content px-4 py-5">
            @Body
        </div>
    </div>
</div>
}

